<header class="topbar">

    <div class="top-left">

        <h1 id="tituloPagina"></h1>

        <span id="subtituloPagina"></span>

    </div>

    <div class="top-right">

        <div class="search">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="Pesquisar...">
        </div>

        <div class="user">
            <i class="fa-solid fa-circle-user"></i>

            <div>
                <strong>Administrador</strong>
                <span>Online</span>
            </div>
        </div>

    </div>

</header>